.simpsons {
  background: lightblue;
  margin: 0;
  padding: 25px;
}
.simpson {
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
}
img {
  width: 200px;
  height: 350px;
}
p {
  text-align: justify;
  margin: 0 300px;
}